:root {
--main-background-color: #E5E5E5;;
--main-title-color:#FFFFFF;
--second-title-color:#9DA4BD;;
--main-btn-color: #ffffff;
--second-btn-color: #303030;

}
body {
    background-color: var(--main-background-color);
    font-family: 'Open Sans', sans-serif;
    font-family: 'Raleway',sans-serif;
}

.background-slider{
    background-repeat: no-repeat;
    width: 1070px;
    height: 680px;
    background-position: center center;
    background-attachment: fixed;
}

/*---Header---*/
.nav {}

.header-logo {}

.header-nav {
    color: var(--main-title-color);
    list-style-type: none;

}

.header-nav.link {

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.1em;
}

.header-nav.link:hover,
.header-nav.link:focus {    
    color: #FF6C00;
    cursor: pointer;
}

.link {
    text-decoration: none;
}

.header-btn {}

.background-slider {}


/*---Hero---*/

.hero {}

.hero-list {}

.list {}

.hero-item {}

.hero-link {}

.hero-pre-title {}

.hero-title {}

.hero-after-title {}

/*-----------About-------------*/
.about {}

.about-list {}

.about-item {}

.about-pic {}

.about-pre {}

.title {}

.about-title {}

.about-after {}

.about-text {}

.about-btn {}

.btn {}

/*-----Prices-------*/

.prices {}

.prices-pre {}

.prices-title {}

.prices-list {}

.prices-item {}

.prices-item-text {}

.prices-btn {}


/*----------Benefits-------*/

.benefits {}

.benefits-list {}

.benefits-item {}

.text {}

.benefits-pre {}

.benefits-title {}

.benefits-after {}

/*----Our barbers------*/

.barbers {}

.barbers-pre-title {}

.pre-title {}

.barbers-title {}

.barbers-list {}

.barbers-item {}

.barbers-item-text {}

/*-----Gallery------*/

.gallery {}

.gallery-text {}

.hidden {}

.gallery-list {}

.gallery-item {}


/*----Footer-----*/