:root {
background-color: #E5E5E5;;





}
body {
    background-color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Raleway',sans-serif;
}

.background-slider{
    background-repeat: no-repeat;
    width: 1070px;
    height: 680px;
    background-position: center center;
    background-attachment: fixed;
}

/*---Header---*/
.nav {}

.header-logo {}

.header-nav {}

.header-list {}

.link {}

.header-btn {}

.background-slider {}


/*---Hero---*/

.hero {}

.hero-list {}

.list {}

.hero-item {}

.hero-link {}

.hero-pre-title {}

.hero-title {}

.hero-after-title {}

/*-----------About-------------*/
.about {}

.about-list {}

.about-item {}

.about-pic {}

.about-pre {}

.title {}

.about-title {}

.about-after {}

.about-text {}

.about-btn {}

.btn {}

/*-----Prices-------*/

.prices {}

.prices-pre {}

.prices-title {}

.prices-list {}

.prices-item {}

.prices-item-text {}

.prices-btn {}


/*----------Benefits-------*/

.benefits {}

.benefits-list {}

.benefits-item {}

.text {}

.benefits-pre {}

.benefits-title {}

.benefits-after {}

/*----Our barbers------*/

.barbers {}

.barbers-pre-title {}

.pre-title {}

.barbers-title {}

.barbers-list {}

.barbers-item {}

.barbers-item-text {}

/*-----Gallery------*/

.gallery {}

.gallery-text {}

.hidden {}

.gallery-list {}

.gallery-item {}


/*----Footer-----*/